<h1>PROFILE PAGE</h1>
<div>
<h2>Your infos</h2>
{{!-- <p>{{user.username}}</p>
<p>{{user.mail}}</p> --}}
<a href="/profile/update">Update your profile</a>
<a href="/profile/update-password">Update your password</a>
<a href="/">Delete your profile</a>
</div>


<h2>Your Collections</h2>
<button id="all">All</button>
<button id="WantToPlay">WantToPlay</button>
<button id="AlreadyPlayed">AlreadyPlayed</button>
<button id="CurrentPlay">CurrentPlay</button>




{{!-- <h2>wantToPlay</h2> --}}
{{#each user.wantToPlay}}
<div>{{this}}</div>
{{!-- <button class="moveToCurrentPlay" >CurrentPlay</button>
<button class="moveToAlreadyPlayed" >Alreadyplayed</button> --}}
{{/each}}

{{!-- <h2>CurrentPlay</h2> --}}
<div>
{{#each user.currentPlay}}
<div>{{this}}</div>
{{!-- <button class="moveToWantToPlay" >WantToPlay</button>
<button class="moveToAlreadyPlayed" >Alreadyplayed</button> --}}
{{/each}}
</div>

{{!-- <h2>alreadyPlayed</h2> --}}
{{#each user.alreadyPlayed}}
<div>{{this}}</div>
{{!-- <button class="moveToWantToPlay" >WantToPlay</button>
<button class="moveToCurrentPlay" >CurrentPlay</button> --}}
{{/each}}