<div id="card-container" style="background-image: url('{{this.background_image}}');">
    {{!-- link to game detail page --}}
    <a href="/games/{{this._id}}">
    <div id="card-content">
        <div id="top-content">
            {{#if this.metacritic}}
            <div class="rating"><p>{{this.metacritic}}</p></div>
            {{/if}}
        </div>
        <div id="bottom-content">
            <h4 class="card-title">{{this.name}}</h4>
            <p class="card-genres">
                {{#each this.genres}}
                    <span class="tag-genre">{{this}}</span>
                {{/each}}
            </p>
            <p class="card-platforms ">
                {{#each platforms}}
                    <span class="split-dash"> {{this}} </span>
                    
                {{/each}}    
            </p>

        </div>
    </div>
    </a>
</div>