<img id="background" src="{{game.background_image}}" alt="">

<div id="game-container">
    <section id="left-col">
        <div id="go-back-container">
            <img src="/images/arrow-icon.svg" alt="">
            <button id="go-back-button">Go Back</button>
        </div>
        <p >{{game.released}} <span>-</span> {{#each game.developers}} <span class="split-comma"> {{this}} </span>{{/each}}</p>

        <h1>{{game.name}}</h1>
        <div id="ratings-status">
            {{#if game.metacritic}}
            <div class="rating-block" >
                <span class="rating" id="rating-one-game">
                    <p>{{game.metacritic}}</p>
                </span>
                <p>ON METACRITIC</p>
            </div>
            {{/if}}
            <div class="collection-block">
                <div class="add-collection">
                    <img src="/images/add-collection-icon.svg" alt="">
                    <p> ADD TO COLLECTION</p>
                </div>
                
                <div class="status-list is-hidden">
                    <div> 
                        <input class="game-status currentPlay" data-game-id ={{game._id}} type="checkbox" name="currentPlay" value="currentPlay" id="currentPlay" {{#if currentPlay}}checked{{/if}}>
                        <label for="currentPlay">Currently playing</label>
                        {{#if currentPlay}}
                            <img src="/images/checked-icon.svg" alt="">
                        {{/if}}
                    </div>
                    <div>
                        <input class="game-status alreadyPlayed" data-game-id ={{game._id}} type="checkbox" name="alreadyPlayed" value="alreadyPlayed" id="alreadyPlayed" {{#if alreadyPlayed}}checked{{/if}}>
                        <label for="alreadyPlayed">Completed</label>
                        {{#if alreadyPlayed}}
                            <img src="/images/checked-icon.svg" alt="">
                        {{/if}}
                    </div>
                    <div>
                        <input class="game-status wantToPlay" data-game-id ={{game._id}} type="checkbox" name="wantToPlay" value="wantToPlay" id="wantToPlay" {{#if wantToPlay}}checked{{/if}}>
                        <label for="wantToPlay">Want to play</label>
                        {{#if wantToPlay}}
                            <img src="/images/checked-icon.svg" alt="">
                        {{/if}}
                    </div>
                </div>
            </div>
        
        </div>
        {{> flash_message }}
        

        <div class="game-description">{{{game.description}}}</div>
        <div id="game-platforms">
            <p>
                {{#each game.platforms}} 
                    <span class="split-dash"> {{this}} </span> 
                {{/each}}
            </p>
        </div>
        
        <div id="game-genres">
            {{#each game.genres}}
                <span>{{this}}</span>
            {{/each}}   
        </div>
        
    </section>
    <aside id="right-col">
        <div id="img-container" style="background-image: url('{{game.background_image}}')">
        </div>
    </aside>
    
    
</div>

<div id="container-gallery-oneGame">
<h3>More of the same genre: </h3>

 <section id="card-gallery">
    {{#each games}}
        {{> gameCard}}
    {{/each}}
</section>
</div>







 
